<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="img"></div>
    <p class="para">
        QuickFix simplifies maintenance. Scan the QR code, report the issue, and notify the maintenance team instantly for quick fixes.
    </p>

    <form action="/home" method="get"><button>Get Started</button></form>
</body>
</html>