body {
    background-image: linear-gradient(to bottom, white, #dc9bff81);
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
    width: 100%;
}

.box1 {
    border: 3px solid black;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    text-align: left;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    gap: 10px;
    height: 2.8rem;
    background-color: white;
}

.box1 i {
    font-size: 1.6rem;
    line-height: 1;
    margin-left: 10px;
}
.box1 .inp:focus {
    border: none; 
    outline: none; 
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    margin-top: 1rem;
}

.box2 {
    gap: 15px;
    height: 8rem;
    border: 3px solid black;
    border-radius: 2rem;
    padding: 8px;
    margin-top: 0.8rem;
}

.info2 {
    margin-top: 3.5rem;
}

.buttons {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.msg {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    height: 3rem;
    width: 8rem;
    background-color: #8306c7 !important;
    color: white !important;
    border-radius: 2rem 0 2rem 0 !important;
}

.buttons p {
    color: red;
    font-weight: bold;
}

.checksubmit {
    margin-left: 60px;
    margin-top: 10px;
}

.check {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn2 {
    margin-top: 5rem;
    margin-left: 0px;
}
